// 版心左右距离
$container-padding: 30px;

p, a, div, span {
  margin: 0;
  padding: 0;
}

body {
  background: #14202C;
  min-width: 1160px;
}
a {
  text-decoration-line: none;
}

.container {
  width: 1100px;
  padding: 0 $container-padding;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  padding: 0 $container-padding;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
